---
---

@import "{{ site.theme }}";

html {
    background: #b5eaff;
}

header {
    background: #fdf7bd;
    border-bottom: none;
}

header h1 {
    text-shadow: none;
    color: #000000;
}

.wrapper {
    background: #fbd8ff;
}
