---
---

@import "{{ site.theme }}";

html {
    background: #9edefa;
}

header {
    background: #434b55;
    border-bottom: none;
}

header h1 {
    text-shadow: none;
    color: #000000;
}

.wrapper {
    background: #c6eafa;
}

section {
    border-top: none;
}

footer {
    background: #9edefa;
}